{# Copyright 2018-present Hathi authors

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. #}

{% extends 'base.html' %}

{% block title %}New Note{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for("note.save_note") }}">
        {% if reply_to %}
        <input type="hidden" name="reply_to" value="{{ reply_to }}" />
        {% endif %}
        <div class="form-group">
            <label>To</label>
            {% if to_list is iterable %}
                {% for val in to_list %}
                    <input type="text" class="form-control" name="to" value="{{ val }}" />
                {% endfor %}
            {% else %}
                <input type="text" class="form-control {{ "is-invalid" if valid_fail and "to" in valid_fail }}"  name="to" placeholder="Enter user URL" />
            {% endif %}
            <button type="button" onclick="script: add(this, 'to')">Add</button>
            <div class="invalid-feedback">
                Receipient required
            </div>
        </div>
        <div class="form-group">
            <label>CC</label>
            {% if cc_list is iterable %}
                {% for val in cc_list %}
                    <input type="text" class="form-control" name="cc" value="{{ val }}" />
                {% endfor %}
            {% else %}
                <input type="text" class="form-control {{ "is-invalid" if valid_fail and "cc" in valid_fail }}" name="cc" placeholder="Enter user URL" />
            {% endif %}
            <button type="button" onclick="script: add(this, 'cc')">Add</button>
            <div class="invalid-feedback">
                Receipient required
            </div>
        </div>
        <div class="form-group">
            <label>BCC</label>
            {% if bcc_list is iterable %}
                {% for val in bcc_list %}
                    <input type="text" class="form-control" name="bcc" value="{{ val }}" />
                {% endfor %}
            {% else %}
                <input type="text" class="form-control {{ "is-invalid" if valid_fail and "bcc" in valid_fail }}" name="bcc" placeholder="Enter user URL" />
            {% endif %}
            <button type="button" onclick="script: add(this, 'bcc')">Add</button>
            <div class="invalid-feedback">
                Receipient required
            </div>
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <input type="text" class="form-control" id="summary" name="summary" value="{{ summary if summary }}" />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control {{ "is-invalid" if valid_fail and "content" in valid_fail }}" id="content" name="content" cols="80"
                rows="25">{{ content if content }}</textarea>
            <div class="invalid-feedback">
                Content required
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block viewscript %}
    add = function(obj, target) {
        console.log('Click from ' + target + ' object: ' + obj);
        $(obj).before('<input type="text" class="form-control" name="to" ' +
            'placeholder="Enter user URL"/>')
    }

{% endblock %}
